html {
  font-family: "Open Sans", sans-serif;
}

h1 {
  border-bottom: 1px solid black;
}

.contact {
  background-color: #f2f2f2;
}

.body {
  color: #fff;
  background-color: #000;
}

.name {
  padding-right: .5rem;
}

.email {
  padding-left: .5rem;
}

@media only screen and (min-width: 60em) {

  .body {
    color: #fff;
  }

}
